#[Title]#
%issue.cwename%

#[CVSSv3.BaseScore]#
n/a

#[CVSSv3.Vector]#
n/a

#[Type]#
Internal

#[Description]#
%issue.description%

#[Solution]#
%issue.remediation_status%

#[References]#
https://cwe.mitre.org/data/definitions/%issue.cweid%.html

#[Severity]#
%issue.severity%

#[Category]#
%issue.categoryname%

#[CWE]#
%issue.cweid%

#[RemediationStatus]#
%issue.remediation_status%
